<section id="validate">
  <div class="container">
    <form>
      <label for="accountNumberToValidate">Validate a Belgian IBAN</label>
      <input
        type="text"
        [formControl]="accountNumber"
        id="accountNumberToValidate"
        name="accountNumberToValidate"
        maxlength="19"
        autocomplete="off"
        placeholder="ex. BE30 0000 0000 1111"
        [style.box-shadow]="accountNumber.value.length === 0 ? 'none' : ''"
        [attr.data-valid]="
          validationResult.has16Characters &&
          validationResult.startsWithBelgianPrefix &&
          validationResult.hasValidBbanChecksum &&
          validationResult.hasValidIbanChecksum &&
          validationResult.endsWithNumbers
            ? 'true'
            : 'false'
        "
      />
    </form>
    <div *ngIf="accountNumber.value.length > 0">
      Current length:
      {{ accountNumber.value | lengthExcludingWhitespace }}
    </div>
    <div id="validation-result">
      <ul>
        <li
          [attr.data-valid]="
            validationResult.has16Characters ? 'true' : 'false'
          "
        >
          The account number should have 16 characters (excluding whitespace).
        </li>
        <li
          [attr.data-valid]="
            validationResult.startsWithBelgianPrefix ? 'true' : 'false'
          "
        >
          The account number should start with "BE".
        </li>
        <li
          [attr.data-valid]="
            validationResult.endsWithNumbers ? 'true' : 'false'
          "
        >
          The account number should end with numbers.
        </li>
        <li
          [attr.data-valid]="
            validationResult.hasValidBbanChecksum
              ? validationResult.hasValidBbanChecksum
                ? 'true'
                : 'false'
              : 'unknown'
          "
        >
          The account number should have a valid BBAN checksum.
        </li>
        <li
          [attr.data-valid]="
            validationResult.has16Characters
              ? validationResult.hasValidIbanChecksum
                ? 'true'
                : 'false'
              : 'unknown'
          "
        >
          The account number should have a valid IBAN checksum.
        </li>
      </ul>
    </div>
  </div>
</section>
