<section id="footer">
  <div class="container">
    <p>
      Disclaimer: this app was made for testing purposes only.
      <br />
      It is purely based on the logic described on
      <a
        href="https://en.wikipedia.org/wiki/International_Bank_Account_Number"
        target="_blank"
        rel="noopener"
        >Wikipedia</a
      >
      to generate a random Belgian bank account number in IBAN format.
      <br />
      The owner of the app can not be held responsible for any misuse or errors.
      <br />
      The source code of this app can be found on Github (client -
      <a
        href="https://github.com/carlos-ds/iban-node"
        rel="noopener"
        target="_blank"
        >server</a
      >).
    </p>
  </div>
</section>
